
  body {
    background-color: #fc630b;
  }

  hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 8%;
  }
  h3,h2{
  color: #66BFBF;
  }
  h1{
      color: teal;
  }
  img{
    border-radius: 100%;
  }
